<div class="navbar navbar-default navbar-fixed-top">
	<div class="container">
		<div class="navbar-header">
			<a href="../" class="navbar-brand">ET Lists</a> 
		</div>
	</div>
</div>
<div class="container">
<div class="page-header" id="banner">
	<div class="row">
	  <div class="col-lg-6">
	    <h1>Lists</h1>
	    <p class="lead">Create a new list</p>
	  </div>
	  <div class="col-lg-6" style="padding: 15px 15px 0 15px;">
	    <div class="well">
      		<%= link_to 'Add a list', new_list_path %>
	    </div>
	  </div>
	</div>
</div>
</div>